/* Apply styles to the body to ensure the background color takes up the entire page */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-image: url("../images/rivalsbackground.jpg");
    margin: 0; /* Remove any default margin to ensure the color covers the whole page */
    height: 100vh; /* Set the height to 100% of the viewport */
    display: flex; /* Use flexbox to center the content */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
}

/* Styling for the h1 */
h1 {
    color: #333;
}

/* Styling for images */
img {
    display: none;
    max-width: 100%;
    height: auto;
}

/* Styling for paragraphs */
p {
   display: none;
}
